name: Deploy to GitHub Pages
on:
  push:
    branches: [ main ] # Change this to 'master' if your main branch is named master
permissions:
  contents: read
  pages: write
  id-token: write
jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20
      - name: Build
        run: |
          # This creates a temporary environment to build your TSX files
          npx -p vite vite build --base=./
      - name: Upload Pages Artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: dist
      - name: Deploy
        uses: actions/deploy-pages@v4
